src/main/org/jboss/seam/pages-1.1.dtd

<!--

<!DOCTYPE pages PUBLIC
	"-//JBoss/Seam Pages Configuration DTD 1.1//EN"
	"http://jboss.com/products/seam/pages-1.1.dtd">

-->

<!ELEMENT pages (page*)>
<!ATTLIST pages no-conversation-view-id CDATA #IMPLIED>

<!ELEMENT page (#PCDATA|param|end-conversation|begin-conversation)*>
<!ATTLIST page action CDATA #IMPLIED>
<!ATTLIST page view-id CDATA #IMPLIED>
<!ATTLIST page switch (enabled|disabled) "enabled">
<!ATTLIST page no-conversation-view-id CDATA #IMPLIED>
<!ATTLIST page timeout CDATA #IMPLIED>
<!ATTLIST page bundle CDATA #IMPLIED>

<!ELEMENT param EMPTY>
<!ATTLIST param name CDATA #REQUIRED>
<!ATTLIST param value CDATA #REQUIRED>
<!ATTLIST param converter CDATA #IMPLIED>
<!ATTLIST param converterId CDATA #IMPLIED>

<!ELEMENT end-conversation EMPTY>

<!ELEMENT begin-conversation EMPTY>
<!ATTLIST begin-conversation join (true|false) "false">
<!ATTLIST begin-conversation nested (true|false) "false">
<!ATTLIST begin-conversation pageflow CDATA #IMPLIED>
<!ATTLIST begin-conversation flush-mode (manual|auto|commit|MANUAL|AUTO|COMMIT) #IMPLIED>
